<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Tabla de Amigos Secretos</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/friend.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<body id="page-top">
    <!-- Navbar-->
    <%- include('../partials/navbaradmin'); %>

        <!-- Secci贸n de tabla -->
        <section id="tabla" class="">
            <div class="container" style="padding-top: 161px; padding-bottom: 158px;">
                <h1 class="text-center">- Amigos Secretos Asignados-</h1>
                <div class="card shadow-lg">
                    <div class="card-header text-center text-white" style="background-color: #ff9100;">
                    </div>
                    <div class="card-body bg-light">
                        <div class="table-responsive mt-1">
                            <table id="friendTable" class="table table-hover table-bordered">
                                <thead class="text-white">
                                    <tr class="text-center">
                                        <th>Usuario</th>
                                        <th>G茅nero</th>
                                        <th>Amigo Secreto</th>
                                        <th>G茅nero del Amigo</th>
                                        <th>rea del Amigo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (friends.length> 0) { %>
                                        <% friends.forEach(friend=> { %>
                                            <tr>
                                                <td>
                                                    <%= friend.usuario_nombre %>
                                                </td>
                                                <td>
                                                    <%= friend.usuario_genero==='M' ? 'Masculino' : 'Femenino' %>
                                                </td>
                                                <td>
                                                    <%= friend.amigo_nombre %>
                                                </td>
                                                <td>
                                                    <%= friend.amigo_genero==='M' ? 'Masculino' : 'Femenino' %>
                                                </td>
                                                <td>
                                                    <%= friend.amigo_area %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                                <% } else { %>
                                                    <tr>
                                                        <td class="text-center">No hay informaci贸n disponible</td>
                                                        <td class="text-center">No hay informaci贸n disponible</td>
                                                        <td class="text-center">No hay informaci贸n disponible</td>
                                                        <td class="text-center">No hay informaci贸n disponible</td>
                                                        <td class="text-center">No hay informaci贸n disponible</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <%- include('../partials/footer'); %>

            <!-- Scripts -->
            <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
            <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                $(document).ready(function () {
                    $('#friendTable').DataTable({
                        language: {
                            search: "Buscar:",
                            lengthMenu: "Mostrar _MENU_ registros",
                            info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                            zeroRecords: "No se encontraron resultados",
                            emptyTable: "No hay datos disponibles",
                            paginate: {
                                first: "Primero",
                                previous: "Anterior",
                                next: "Siguiente",
                                last: "ltimo"
                            }
                        }
                    });
                });
            </script>
</body>

</html>