<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Amigo Secreto - Usuario</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.bootstrap5.css">
</head>

<body id="page-top">

    <%- include('../partials/navbar'); %>

        <header class="position-relative">
            <video class="video-background" style="filter: brightness(60%);" autoplay muted loop>
                <source src="../donut.mp4" type="video/mp4">
                Su navegador no soporta la etiqueta de v칤deo.
            </video>
            <div class="header-content text-center text-white">
                <h1 class="fw-bolder display-3">춰Bienvenido,
                    <span
                        style="color: #4A90E2; background-color: rgba(255, 255, 255, 0.7); padding: 0 10px; border-radius: 10px;">
                        <%= nombre %>
                            <%= primer_apellido %>
                                <%= segundo_apellido %>
                    </span>!
                </h1>
                <p class="lead mb-4">Este es el juego de
                    <span class="fw-bold text-uppercase"
                        style="color: #FFD1E3; background-color: rgba(0, 0, 0, 0.5); padding: 0 10px; border-radius: 5px;">
                        AMIGO SECRETO
                    </span>.
                    Para comenzar, agrega tus deseos:
                </p>
                <a class="btn btn-lg rounded-pill" href="#deseos"
                    style="background-color: #2C3E50; color: #FFD1E3;">Agregar deseos</a>
            </div>
        </header>

        <!-- Deseos -->
        <section id="deseos" class="py-5" style="background-color: #D1E9F6;">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-10">
                        <h2 class="text-center pb-5 text-uppercase"
                            style="color: #4A90E2; font-size: 3rem; font-weight: bold;">游꾸 Lista de Deseos 游꾸</h2>
                        <p class="lead text-center" style="color: #2C3E50;  font-size: 1.3rem;">
                            Estas son tus <span class="fw-bold text-uppercase"
                                style="color: #4A90E2; font-size: 1.3rem;">deseos</span>.
                            Aqu칤 puedes agregar los dulces y regalos que te gustar칤a recibir de tu <span
                                class="fw-bold text-uppercase" style="color: #2C3E50;  font-size: 1.3rem;">amigo
                                secreto</span>.
                        </p>
                        <div class="row pt-3">
                            <!-- Dulces -->
                            <div class="col-md-6 mb-4 deseos">
                                <div class="card shadow-sm border-0 h-100"
                                    style="background-color: #F3F9FC; border-radius: 20px;">
                                    <div class="card-body p-4 text-center">
                                        <img src="../dulce.gif" alt="Dulces" class="card-img-top mb-3 rounded-circle"
                                            style="width: 100px; height: 100px;">
                                        <h3 class="text-center mb-4" style="color: #4A90E2;">Dulces</h3>
                                        <input type="text" id="dulceInput" class="form-control mb-2 rounded-pill"
                                            placeholder="Agregar dulce" style="border: 1px solid #4A90E2;">
                                        <button id="addDulce" class="btn text-light w-100 rounded-pill"
                                            style="background-color: #2C3E50;">Agregar Dulce</button>
                                        <table id="dulceTable" class="table table-hover mt-3">
                                            <thead>
                                                <tr>
                                                    <th style="color: #4A90E2;">Dulces</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Aqu칤 se agregar치n los dulces -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Regalos -->
                            <div class="col-md-6 mb-4 deseos">
                                <div class="card shadow-sm border-0 h-100"
                                    style="background-color: #F3F9FC; border-radius: 20px;">
                                    <div class="card-body p-4 text-center">
                                        <img src="../regalo.gif" alt="Regalos" class="card-img-top mb-3 rounded-circle"
                                            style="width: 100px; height: 100px;">
                                        <h3 class="text-center mb-4" style="color: #4A90E2;">Regalos</h3>
                                        <input type="text" id="regaloInput" class="form-control mb-2 rounded-pill"
                                            placeholder="Agregar regalo" style="border: 1px solid #4A90E2;">
                                        <button id="addRegalo" class="btn text-light w-100 rounded-pill"
                                            style="background-color: #2C3E50;">Agregar Regalo</button>
                                        <table id="regaloTable" class="table table-hover mt-3">
                                            <thead>
                                                <tr>
                                                    <th style="color: #4A90E2;">Regalos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Aqu칤 se agregar치n los regalos -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Amigo -->
        <section class="bg-light py-5" id="amigo" style="background-color: #D1E9F6;">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-10">
                        <h2 class="text-center pb-5 text-uppercase"
                            style="color: #4A90E2; font-size: 3rem; font-weight: bold;">
                            Informaci칩n del Amigo Secreto
                        </h2>
                        <div class="card shadow-sm border-0" style="background-color: #F3F9FC; border-radius: 20px;">
                            <div class="card-body p-4">
                                <div class="row">
                                    <!-- Informaci칩n b치sica del amigo -->
                                    <div class="col-md-12 mb-4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="">Nombre del Amigo: <span id="amigoNombre"
                                                    class="text-primary"></span></h4>
                                            <span id="amigoGenero" class="badge"
                                                style="background-color: #4A90E2; color: #ffffff;">G칠nero</span>
                                            <span id="amigoArea" class="badge"
                                                style="background-color: #4A90E2; color: #ffffff;">츼rea</span>
                                        </div>
                                    </div>
                                    <!-- Lista de regalos -->
                                    <div class="col-md-6 mb-4">
                                        <h5 class="text-uppercase" style="color: #4A90E2;">Regalos</h5>
                                        <ul id="amigoRegalos" class="list-group">
                                            <!-- Aqu칤 se agregar치n los regalos -->
                                        </ul>
                                        <div id="noRegalos" class="empty-message text-center mt-2"
                                            style="color: #2C3E50;">No hay regalos asignados.</div>
                                    </div>
                                    <!-- Lista de dulces -->
                                    <div class="col-md-6 mb-4">
                                        <h5 class="text-uppercase" style="color: #4A90E2;">Dulces</h5>
                                        <ul id="amigoDulces" class="list-group">
                                            <!-- Aqu칤 se agregar치n los dulces -->
                                        </ul>
                                        <div id="noDulces" class="empty-message text-center mt-2"
                                            style="color: #2C3E50;">No hay dulces asignados.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <%- include('../partials/footer'); %>

            <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
            <script src="https://cdn.datatables.net/2.1.3/js/dataTables.bootstrap5.js"></script>
            <script src="/js/scripts.js"></script>
            <script>
                $(document).ready(function () {
                    // Inicializa DataTables
                    const dulceTable = $('#dulceTable').DataTable({
                        "language": {
                            "emptyTable": "No hay dulces a침adidos a칰n."
                        },
                        info: false,
                        paging: false,
                        searching: false
                    });

                    const regaloTable = $('#regaloTable').DataTable({
                        "language": {
                            "emptyTable": "No hay regalos a침adidos a칰n."
                        },
                        info: false,
                        paging: false,
                        searching: false
                    });

                    // Funci칩n para agregar dulce
                    $('#addDulce').click(function () {
                        const dulce = $('#dulceInput').val().trim();
                        if (dulce) {
                            $.post('/preferences/dulces', { dulce: dulce }, function (response) {
                                if (response.success) {
                                    dulceTable.row.add([dulce]).draw();
                                    $('#dulceInput').val('');
                                } else {
                                    alert(response.message);
                                }
                            });
                        } else {
                            alert('Por favor ingrese un dulce');
                        }
                    });

                    // Funci칩n para agregar regalo
                    $('#addRegalo').click(function () {
                        const regalo = $('#regaloInput').val().trim();
                        if (regalo) {
                            $.post('/preferences/regalos', { regalo: regalo }, function (response) {
                                if (response.success) {
                                    regaloTable.row.add([regalo]).draw();
                                    $('#regaloInput').val('');
                                } else {
                                    alert(response.message);
                                }
                            });
                        } else {
                            alert('Por favor ingrese un regalo');
                        }
                    });

                    // Funci칩n para obtener y mostrar dulces
                    $.get('/preferences/dulces', function (response) {
                        if (response.success) {
                            if (response.dulces.length > 0) {
                                response.dulces.forEach(dulce => {
                                    dulceTable.row.add([dulce.dulce]).draw();
                                });
                            }
                        } else {
                            console.error('Error al cargar dulces:', response.message);
                        }
                    });

                    // Funci칩n para obtener y mostrar regalos
                    $.get('/preferences/regalos', function (response) {
                        if (response.success) {
                            if (response.regalos.length > 0) {
                                response.regalos.forEach(regalo => {
                                    regaloTable.row.add([regalo.regalo]).draw();
                                });
                            }
                        } else {
                            console.error('Error al cargar regalos:', response.message);
                        }
                    });
                });
            </script>
            <script>
                $(document).ready(function () {
                    // Cargar la informaci칩n del amigo asignado cuando se carga la p치gina
                    fetch('/roulette/amigo-preferencias')
                        .then(response => response.json())
                        .then(data => {
                            if (data.success && data.amigo) {
                                const amigo = data.amigo;

                                // Actualiza el nombre y g칠nero del amigo con un prefijo
                                $('#amigoNombre').text(`${amigo.nombre} ${amigo.primer_apellido} ${amigo.segundo_apellido}`);
                                $('#amigoGenero').text(`G칠nero: ${amigo.genero === 'F' ? 'Femenino' : 'Masculino'}`);
                                $('#amigoArea').text(`츼rea: ${amigo.area}`)

                                // Aseg칰rate de que regalos y dulces sean arrays
                                const regalos = Array.isArray(amigo.regalos) ? amigo.regalos : [];
                                const dulces = Array.isArray(amigo.dulces) ? amigo.dulces : [];

                                // Actualiza la lista de regalos
                                const regaloList = $('#amigoRegalos');
                                regaloList.empty();
                                if (regalos.length > 0) {
                                    regalos.forEach(regalo => {
                                        regaloList.append(`<li class="list-group-item">${regalo}</li>`);
                                    });
                                    $('#noRegalos').hide();
                                } else {
                                    $('#noRegalos').show();
                                }

                                // Actualiza la lista de dulces
                                const dulceList = $('#amigoDulces');
                                dulceList.empty();
                                if (dulces.length > 0) {
                                    dulces.forEach(dulce => {
                                        dulceList.append(`<li class="list-group-item">${dulce}</li>`);
                                    });
                                    $('#noDulces').hide();
                                } else {
                                    $('#noDulces').show();
                                }
                            } else {
                                $('#amigoNombre').text('No se ha asignado un amigo secreto a칰n.');
                                $('#amigoGenero').text('');
                            }
                        })
                        .catch(err => {
                            console.error('Error al cargar la informaci칩n del amigo:', err);
                            $('#amigoNombre').text('Hubo un error al cargar la informaci칩n del amigo.');
                            $('#amigoGenero').text('');
                        });
                });
            </script>
</body>

</html>